{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/security {:git/url "https://github.com/kotoba-lang/security.git"
                                        :git/sha "49fc4ce359752e9fe6e547e9071b5b9b40da937a"}
        org.clojure/tools.reader {:mvn/version "1.5.2"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        ;; Checked-KIR-only JavaScript backend, pinned immutably so standalone
        ;; clones and release builders never depend on a sibling checkout.
        io.github.kotoba-lang/kotoba-script
        {:git/sha "0a674a20f41adae3ac4847376300a03d47e7cd0c"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "kotoba.compiler.test-runner"]}
           :run {:main-opts ["-m" "kotoba.compiler.cli"]}}}
