{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/security {:git/url "https://github.com/kotoba-lang/security.git"
                                        :git/sha "4f9847e15219b2e97ea4cdad325357bd7f85c21d"}
        org.clojure/tools.reader {:mvn/version "1.5.2"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        ;; Checked-KIR-only JavaScript backend, pinned immutably so standalone
        ;; clones and release builders never depend on a sibling checkout.
        io.github.kotoba-lang/kotoba-script
        {:git/sha "fe303a858557c6225169758de74c4bb35f728c10"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "kotoba.compiler.test-runner"]}
           :run {:main-opts ["-m" "kotoba.compiler.cli"]}}}
