{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/security {:git/url "https://github.com/kotoba-lang/security.git"
                                        :git/sha "bb7f8c8c4c719a7975be34a291aface2704f137e"}
        org.clojure/tools.reader {:mvn/version "1.5.2"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        ;; Checked-KIR-only JavaScript backend, pinned immutably so standalone
        ;; clones and release builders never depend on a sibling checkout.
        io.github.kotoba-lang/kotoba-script
        {:git/sha "777d122019b2baa192c2b2ae1ea974c541338688"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "kotoba.compiler.test-runner"]}
           :run {:main-opts ["-m" "kotoba.compiler.cli"]}}}
