{:adoption/version 1 :consumer/id :compiler
 :security/git-sha "9316629ed15437ef1cf0f93b7f98e7cb31ef91d2"
 :required-control-namespaces [kotoba.security.capability kotoba.security.runtime-resilience]
 :security-sensitive-entrypoints [kotoba.compiler.admission]
 :exceptions []}
