{:adoption/version 2 :consumer/id :compiler
 :security/git-sha "23caaefa6ca35904f9d0c2dc0cbb3bec91ae8956"
 :required-control-namespaces [kotoba.security.abac kotoba.security.crypto-policy kotoba.security.hardware kotoba.security.information-flow]
 :security-sensitive-entrypoints
 {kotoba.compiler.admission [kotoba.security.abac kotoba.security.crypto-policy kotoba.security.hardware kotoba.security.information-flow]}
 :exceptions []}
