{:format :kotoba.fuzz-baseline/v2
 :loader-source-sha256 "dc102247f94f2c2d117e1e243ca6eeace398593097ff81765cae7915eb940047"
 :profiles {:x64 {:min-cov 60 :min-features 100 :min-corpus 20}
            :arm64 {:min-cov 60 :min-features 100 :min-corpus 18}}}
